.search-form {
  width: 100%;
}
.search-input-wrapper {
  width: 100%;

  input {
    width: 100%;
  }
}
.expansive-painel{
  background-color:black;
  color: white;
}
.avatar {
  margin-right: 10px;
  width: 100px;
  border-radius: 10px;
}

.panel-title{
  font-weight: bolder;
}
.panel-description{
  font-size: 12px;
}
.divider{
  background-color: orange;
  width: 100%;
}
.profile-button{
  margin-top: 7px;
  background-color:#bdc3c7;
  border-radius: 20px;
  margin-bottom: 7px;
}
.profile-button-margin{
  margin-left: 5px;
}